@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
:root{
  --font-primary:#eee;
  --font-secondary:#222;
  --bg-primary:#999;
  --bg-secondary:#333;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Montserrat', sans-serif;
  color: var(--font-primary);
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary);
}
.timeline{
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul{
  list-style: none;
}

.timeline ul li{
  padding: 2vw;
  background-color: var(--bg-secondary);
  margin: 2vw;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.90), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
  
}
.timeline ul li:hover{
  background-color: white;
  color:black;
}
